* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(237,255,231);
    background: linear-gradient(90deg, rgba(237,255,231,1) 0%, rgba(250,255,221,1) 100%);
}

p {
    line-height: 150%;
    text-align: justify;
    margin-bottom: 1%;
}

img {
    box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li {
    padding-bottom: 15px;
}

#main-area h2 {
    margin: 20px 0px;
}

#header {
    width: 100%;
    padding: 2%;
    text-align: center;
    background-color: rgba(0, 60, 138, 0.2);
}

#sidebar {
    width: 100%;
    height: 100%;
    padding: 25px 15px;
    margin-right: 13%;
    background-color: rgba(0, 60, 138, 0.089);
    display: block;
}

#main-area {
    padding: 25px 50px;
    width: 100%;
}